<div ng-repeat="post in posts">
    <div class="previewPosted">
        <div class="previewTextPosted">
            {{post.text}}
        </div>
        <div class="previewTitlePosted">
            <a href="{{post.url}}" target="_blank">
                {{post.title}}
            </a>
        </div>    
        <div ng-if="post.iframe" ng-bind-html="post.iframe" ng-style="iframeStyle"></div>
        <a ng-if="!post.iframe && post.image" href="{{post.url}}" target="_blank">
            <img src="{{post.image}}" alt="{{post.title}}" class="imgIframe previewImage">
        </a>        
        <div ng-if="post.iframe"  class="imgIframe">
            <img src="{{post.image}}" ng-click="iframize()" class="previewImage" ng-style="imageStyle">
            <span class="videoPostPlay" ng-click="iframize()" ng-style="videoPlayStyle"></span>
        </div>
        <div class="previewUrlPosted">{{post.canonicalUrl}}</div>
        {{post.description}}
    </div>
</div>